langchain
langchain-chroma
langchain-community
langchain-google-genai
chromadb
google-generativeai
beautifulsoup4
selenium
webdriver-manager
requests
tqdm
PyYAML
python-dotenv
streamlit
protobuf
langgraph
langchain-core
langsmith
